<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {%load plotly_dash%}

</head>
<body>
    <main id="dashboard">

        <section class="content-dashboard">
            <article class="content_graph">
                {%plotly_app name="single_plot" ratio=1%}
            </article>
            <article class="content_graph">

            </article>
            <article class="content-graph">
             
            </article>
          
        </section>
    </main>
</body>
<footer>

</footer>
